footer{
    position:relative;
    top: 100vh;

    
    
}
footer .Container{
    background-image: url('./../assets/footer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: max-content;
    justify-content: space-around;
    padding-bottom: 35px;
    padding-top: 55px;
}
footer .Container .LogoContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: start;
}
footer .Container .LogoContainer #FooterLogo{
    width: 150px;
}
footer .Container .LogoContainer p{
    color: #2F2F2F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 175%;
    max-width: 350px;
    letter-spacing: -0.32px;
}
footer .Container .LogoContainer .Icons{
    display: flex;
    gap: 25px;
}
footer .Container .ListContainer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer .Container .ListContainer li h1{
    color: #2F2F2F;
font-family: Poppins;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 114.286%;
padding-bottom: 10px;
}
footer .Container .ListContainer li {
    color: #2F2F2F;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height:  125% ;
}
footer #FooterEnd{
    text-align: center;
    padding: 50px 0;
}
@media  screen and (max-width:992px) {
    footer .Container{
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-left: 20px;
    }
}